*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


header
{
    background-color: rgb(168, 5, 168);
    color: rgb(255, 145, 0);
    padding-top: 16px;
}
header > .container
{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav li
{
    display: inline;
    margin-right: 16px;    
    font-size: 18px;
}

nav li a
{
    text-decoration: none;
    color: rgb(255, 145, 0);
}

nav li a:hover
{
    color: rgb(255, 111, 0);
}

.container
{
    max-width: 1024px; 
    width: 100%;
    margin: 0 auto;
}

.container-flex
{
    display: flex;
}

#sobre img
{
    max-width: 400px;
    margin-right: 24px;
}
hr
{
    border: 1px solid rgb(168, 5, 168);
    margin-bottom: 26px;
}
section
{
    padding: 36px 0;
}

h2
{
    color: rgb(168, 5, 168);
    padding-bottom: 8px;
}
h3
{
    color: rgb(255, 145, 0);
    padding-top: 10px;
}

.produtos
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px
}

.produto
{
    text-align: center;
    border: 1px solid rgb(255, 145, 0);;
    padding: 10px;
    box-sizing: border-box;
    
}

.produto img
{
    max-width: 100%;
    height: 300px;
}

.produto button
{
    width: 100%;
    padding: 8px;
    background-color: rgb(255, 145, 0);
    color: rgb(168, 5, 168);
    font-weight: bold;
    margin-top: 12px;
}

.produto button:hover
{
    cursor: pointer;
    background-color: rgb(168, 5, 168);
    color: rgb(255,145,0);
}
.produto p
{
    font-size: 14px;
}

@media screen and (max-width: 767px)
{

    header
    {
        padding-top: 10px;
    }
    nav li 
    {
        display: block;
        margin-right: 12px; 
        font-size: 16px; 
    }
    #sobre img
    {
        max-width: 100%;
        height: auto;
        margin-right: 0;
        padding-bottom: 26px;
    }
    .container
    {
        max-width: 90%;
    }    
    .produtos
    {
        display: block;
    }

    #sobre .container-flex
    {
        display: block;
    }
    .produto
    {
        display: block;
        font-size: 1em;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px)
{
    .produtos
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .produto
    {
        margin-bottom: 20px;
    }
}